@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

:root {
    --main-color: #000;
    --sub-color: #fff;
    --button-color: rgba(4, 4, 119, 0.596);
    --button-active: rgba(1, 1, 44, 0.726);
    --shadow-button: 0px 0px 15px #000, 0px 0px 20px #fff;
    --active-color: rgb(243, 135, 135);
    --shadow-box: 0px 0px 15px white;
    --text-color: #f5f5f5;
    --shadow-text: 0px 0px 20px #fff;
    --bg-color: #bebebe52;
    --sub-bg-color: #0a0a0a2a;
}

/* Reset CSS */
body {
    background-image: url(../images/backgorund2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Philosopher';
}

ul {
    list-style: none;
}

.active-content_topic {
    display: block !important;
}

.topic ul li.active-topic {
    background-color: var(--button-active);
    box-shadow: var(--shadow-button);
    color: var(--active-color);
}

.active-music {
    display: block !important;
}

/* Container */
#container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    transition: all 0.5s linear;
    position: relative;
}

/* Header Content */
ul.list li.active {
    background-color: #bebebe76;
    border-right: 3px solid;
    color: rgb(243, 135, 135);
}

#header {
    flex: 0 0 auto;
    max-width: 13em;
    min-width: 13em;
    max-height: 100vh;
    /* background-color: aliceblue; */
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    transition: all 0.5s linear;
    border-right: 2px solid;
}

.main-logo,
.sub-logo {
    flex: 0 0 auto;
    width: 100%;
    max-height: 5em;
    min-height: 5em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.main-logo img,
.sub-logo img {
    width: 100%;
}

.sub-logo {
    display: none;
}

.list-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 10em);
    max-height: calc(100vh - 10em);
    overflow: hidden;
}

#header .main-content {
    flex: 0 0 auto;
    width: 100%;
    max-height: 12em;
    min-height: 12em;
}

#header .main-content:after {
    content: " ";
    display: flex;
    margin: 0.5em auto;
    width: 90%;
    height: 2px;
    background-color: #000;
    opacity: 0.5;
}

.sub-content {
    margin: 1em auto;
    flex: 1 1 auto;
    width: 100%;
    max-height: calc(100% - 13em);
    min-height: calc(100% - 13em);
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.sub-content ul.list {
    flex: 0 0 auto;
    max-height: 15em;
    min-height: 15em;
}

.list-content:hover .sub-content::-webkit-scrollbar {
    display: block;
}

.sub-content::-webkit-scrollbar {
    width: 5px;
    display: none;
    background-color: var(--bg-color);
    border-radius: 10px;
}

.sub-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--bg-color);
}

.sub-content::-webkit-scrollbar-thumb {
    background-color: #010a5db5;
    border: 1px solid #010a5db5;
    border-radius: 10px;
}

ul.list {
    width: 100%;
    height: 100%;
}

ul.list li {
    padding: 10px;
    transition: all 0.5s linear;
    cursor: pointer;
}

ul.list li:hover {
    background-color: #bebebe76;
}

.sale {
    width: 11em;
    border: 1px solid;
    max-height: max-content;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: var(--sub-bg-color);
    background-image: linear-gradient(to right bottom, #000, rgb(3, 3, 149));
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sale .description p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: white !important;
}

.sale .button {
    margin-top: 10px;
}

.button .vip-button {
    width: 100%;
    padding: 10px 15px;
    border: 0px;
    border-radius: 10px;
    background-color: var(--button-color);
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in;
    box-shadow: 0px 0px 15px white;
}

.button .vip-button:hover {
    background-color: var(--button-active);
    text-shadow: var(--shadow-text);
}

.play-list {
    flex: 0 0 auto;
    width: 100%;
    min-height: 4em;
    max-height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid;
}

.show-header {
    display: none;
}

.play-list i {
    font-size: xx-large;
    margin-right: 10px;
}



/* Content */
#content {
    flex: 1 1 auto;
    max-width: calc(100% - 13em);
    min-width: calc(100% - 13em);
    /* background-color: antiquewhite; */
    background-color: var(--sub-bg-color);
    position: relative;
    transition: all 0.5s linear;
}

#content .sub-header {
    position: fixed;
    z-index: 10;
    max-width: calc(100% - 13em);
    min-width: calc(100% - 13em);
    height: 4em;
    /* background-color: aquamarine; */
    background-color: var(--sub-bg-color);
    transition: all 0.5s linear;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid;
}

.sub-header form#search {
    flex: 1 1 auto;
    position: relative;
    padding-left: 20px;
}

form#search input {
    width: 70%;
    height: 3em;
    padding-left: 3em;
    border: 0px;
    outline: 1px solid;
    border-radius: 10px;
    transition: width 0.5s ease;
    background-color: var(--bg-color);
    color: var(--text-color);
    position: relative;
}

form#search input::placeholder {
    color: var(--text-color);
    font-weight: 800;
}

form#search input:focus {
    background-color: var(--sub-bg-color);
    box-shadow: var(--shadow-box);
}

.modal-search {
    display: none;
    position: absolute;
    top: 3em;
    left: 1em;
    right: 14em;
    max-height: 10em;
    min-height: 5em;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.9));
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
    box-shadow: var(--shadow-box);
    border-radius: 10px;
    color: var(--text-color);
}
.modal-search::-webkit-scrollbar {
    display: none;
}
.modal-search::after{
    content: "Không tìm thấy kết quả";
    display: none;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    min-height: 5em;
    max-height: 5em;
}
.item-search {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.5s linear;
    cursor: pointer;
}
.fail{
    cursor: no-drop;
    color: red;
    font-weight: bold;
}
.item-search:not(.fail):hover {
    background-color: var(--active-color);
}

.item-search i {
    flex: 0 0 auto;
    min-width: 2em;
    max-width: 2em;
    font-size: 20px;
}

.item-search p {
    flex: 1 1 auto;
    width: calc(100% - 2em);
}


form#search .search-button {
    position: absolute;
    top: 50%;
    left: calc(10px + 20px);
    transform: translateY(-50%);
    color: var(--text-color);
}

/* Notice in Sub Header */
.notice {
    flex: 0 0 auto;
    min-width: 15em;
    min-width: 15em;
    display: flex;
    justify-content: center;
}

.notice .icon {
    cursor: pointer;
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid white;
    border-radius: 50%;
    background-color: #000;
    color: white;
    transition: all 0.5s linear;
}

.notice i:first-child:hover {
    background-color: white;
    color: yellow;
    text-shadow: 0px 0px 5px yellowgreen;
    box-shadow: 0px 0px 10px white, 0px 0px 15px whitesmoke;
}

.notice i:nth-child(2):hover {
    background-color: white;
    color: red;
    text-shadow: 0px 0px 5px rgb(245, 110, 32);
    box-shadow: 0px 0px 10px white, 0px 0px 15px whitesmoke;
    transform: rotate(10deg);
}

.notice i:nth-child(3):hover {
    background-color: white;
    color: orangered;
    text-shadow: 0px 0px 5px orangered;
    box-shadow: 0px 0px 10px white, 0px 0px 15px whitesmoke;
}

.notice i:last-child:hover {
    background-color: white;
    color: skyblue;
    text-shadow: 0px 0px 5px aquamarine;
    box-shadow: 0px 0px 10px white, 0px 0px 15px whitesmoke;
    transform: rotate(180deg);
}

/* Account Avatar */
.account-avatar {
    flex: 0 0 auto;
    min-width: 4em;
    max-width: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: var(--shadow-box)
}

.avatar {
    cursor: pointer;
    position: relative;
    width: 3em;
    border-radius: 50%;
    padding: 0.2em;
}

.dropdown {
    position: absolute;
    bottom: -15em;
    right: 1em;
    width: 16em;
    height: 15em;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.9));
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
}

.dropdown::-webkit-scrollbar {
    display: none;
    width: 5px;
    background-color: #F5F5F5;
}

.dropdown::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.dropdown::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 1px solid #555555;
}

.list-drop {
    width: 100%;
    padding: 10px;
}

.list-drop li {
    padding: 1em;
    border-bottom: 1px solid;
    cursor: pointer;
    transition: all 0.5s linear;
}

.list-drop li:hover {
    background-color: #bebebe76;
}

.list-drop li:nth-child(n+5):not(.list-drop li:last-child) {
    display: none;
}

#content .main-content {
    margin-top: 4em;
    padding: 1em;
    min-height: calc(100vh - 4em);
    max-height: calc(100vh - 4em);
    overflow-x: hidden;
    overflow-y: scroll;
}

#content .main-content::-webkit-scrollbar {
    width: 8px;
    background-color: var(--bg-color);
    border-radius: 10px;
}

#content .main-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--bg-color);
}

#content .main-content::-webkit-scrollbar-thumb {
    background-color: #010a5db5;
    border: 1px solid #010a5db5;
    border-radius: 10px;
}

/* Carousel in Content */
.carousel .item {
    cursor: pointer;
}

.carousel .item img {
    border-radius: 1em;
}

.owl-nav {
    display: none;
}

/* Topic */
.title {
    margin-bottom: 1em;
    font-size: 1em;
    color: var(--text-color);
    text-shadow: 0px 0px 5px black, 0px 0px 10px rgb(126, 126, 126);
}

.button-topic {
    display: flex;
    justify-content: space-between;
}

.check-all {
    cursor: pointer;
    margin: 0.5em 0.6em 0em;
    padding: 0.5em;
    color: white;
    text-transform: uppercase;
}

.check-all_mobile {
    width: 100%;
    text-align: center;
    display: none;
}

.check-all:hover {
    color: var(--active-color);
    text-shadow: 0px 0px 5px black, 0px 0px 10px whitesmoke;
}

.button-topic ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button-topic ul li {
    cursor: pointer;
    margin: 0.5em 0.6em 0em;
    padding: 0.5em;
    border-radius: 0.8em;
    /* background-color: #2a213a; */
    background-color: var(--button-color);
    color: wheat;
}

.button-topic ul li:hover {
    box-shadow: 0px 0px 10px white, 0px 0px 15px whitesmoke;
    background-color: var(--button-active);
    color: var(--active-color);
}

.content-topic {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 3em;
}

.content-items img {
    width: 6em;
    height: 6em;
    border-radius: 10px;
    box-shadow: 14px 0px 15px white, 0px 0px 20px whitesmoke;
}

.content-items .description {
    flex: 1 1 auto;
    padding: 5px;
}

.description span {
    display: inline-block;
    margin: 5px;
    color: #000;
}

.description p {
    color: rgb(255, 122, 122);
    text-shadow: 0px 0px 20px var(--active-color);
}

.content-items {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    margin: 0.3em;
    margin-top: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    font-weight: bold;
    background-color: #2b243534;
    color: #F5F5F5;
    position: relative;
    width: 24%;
    box-shadow: 0px 0px 15px #000;
}

.content-items:hover {
    background-color: #12121391;
    box-shadow: 0px 0px 5px white, 0px 0px 10px whitesmoke;
}

.content-items .play {
    display: none;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(20%);
}

.content-items:hover .play {
    display: flex;
}

.content-wrap {
    display: none;
}

.topic {
    margin-bottom: 5em;
}

/* System Music */
.system-play_music {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: max-content;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.7));
    box-shadow: 10px -10px 20px #000;
    border-top: 3px solid;
    position: fixed;
    left: 13em;
    bottom: 0;
    right: 0;
    z-index: 30;
}

.system-play_music img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.active-rotate_img {
    animation: rotateImg 10s infinite linear;
}

.control-music {
    flex: 0 0 auto;
    min-width: 50%;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.control-music i {
    cursor: pointer;
}

.button-control {
    display: flex;
    justify-content: center;
}

.range-control {
    margin: 0 !important;
    display: flex;
    width: 100%;
}

.volume {
    position: relative;
}

.volume:focus-within input {
    user-select: auto;
}

.volume input[type=range] {
    position: absolute;
    top: -3em;
    left: -2em;
    transform: rotate(270deg);
    width: 5em;
    display: none;
}

.range-control .range {
    display: flex;
    margin: 0;
    width: 100%;
}

.range {
    display: flex;
    align-items: center;
}

.range .started,
.range .ended {
    font-size: 12px;
    margin: 0 0.5em;
    color: #fff;
    font-weight: bold;
}

.range-control .range input {
    cursor: pointer;
}

input[type=range] {
    height: 3px;
    -webkit-appearance: none;
    margin: 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 3px 3px 2px #9C08FF;
    background: #3071A9;
    border-radius: 24px;
    border: 1px solid #0008FF;
}

input[type=range]::-webkit-slider-runnable-track:hover {
    height: 7px;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #454545;
    border: 1px solid #8A8A8A;
    height: 10px;
    width: 10px;
    border-radius: 21px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #3071A9;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    box-shadow: 3px 3px 2px #9C08FF;
    background: #3071A9;
    border-radius: 24px;
    border: 1px solid #0008FF;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #454545;
    border: 1px solid #8A8A8A;
    height: 8px;
    width: 8px;
    border-radius: 21px;
    background: #FFFFFF;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #3071A9;
    border: 1px solid #0008FF;
    border-radius: 48px;
    box-shadow: 3px 3px 2px #9C08FF;
}

input[type=range]::-ms-fill-upper {
    background: #3071A9;
    border: 1px solid #0008FF;
    border-radius: 48px;
    box-shadow: 3px 3px 2px #9C08FF;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #454545;
    border: 1px solid #8A8A8A;
    height: 8px;
    width: 8px;
    border-radius: 21px;
    background: #FFFFFF;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #3071A9;
}

input[type=range]:focus::-ms-fill-upper {
    background: #3071A9;
}

.control-music .prev,
.control-music .play-pause,
.control-music .next {
    transition: all 0.5s linear;
}

.control-music .prev:hover,
.control-music .play-pause:hover,
.control-music .next:hover {
    color: white;
}

.control-music div {
    margin: 0.5em;
}

.img-music_control {
    flex: 0 0 auto;
    width: 40%;
    font-weight: bold;
    color: white;
    overflow: hidden;
}

.img-music_control img {
    box-shadow: 0px 0px 20px #000;
    border-radius: 50%;
}

.title-music {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.img-music_control div {
    margin-left: 0.5em;
}

.list-music {
    flex: 0 1 auto;
    width: 10%;
    position: relative;
}

.list-music i {
    cursor: pointer;
}

.list-music .list {
    display: none;
    flex-direction: column;
    width: 250px;
    height: 20em;
    border-radius: 1em;
    background-image: url(../images/backgorund_list.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    position: absolute;
    right: 10px;
    top: -23em;
    bottom: 2em;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0px 0px 15px white, 0px 0px 20px whitesmoke;
}

.list-music .list::before {
    content: 'PlayList';
    padding: 0.5em;
    border-bottom: 1px solid;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0px 0px 15px white, 0px 0px 20px whitesmoke;
    background-color: var(--button-active);
}

.list-music .list list {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    border-bottom: 1px solid;
    color: white;
    transition: all 0.5s linear;
    background-color: var(--bg-color);
    font-weight: bold;
}
.delete-music{
    width: 10%;
    overflow: hidden;
    min-height: 2em;
    max-height: 2em;
    background-color: var(--button-color);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s linear;
}
.delete-music span,
.save-music span{
    transition: all 0.5s linear;
    transition-delay: 0.2s;
}
.delete-music:hover,
.save-music:hover{
    width: 100%;
}
.save-music{
    width: 10%;
    overflow: hidden;
    min-height: 2em;
    max-height: 2em;
    background-color: var(--button-color);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s linear;
}
.control-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

list .disk {
    flex: 1 2 50%;
    align-items: baseline;
}

.description span {
    transition: all 1s ease-out;
}

.list-music .list list:hover {
    background-color: rgba(255, 255, 255, 0.382);
}

.list-music .list list:hover .description span {
    color: var(--active-color);
}

.list-music .list::-webkit-scrollbar {
    display: none;
    width: 0px !important;
    border-radius: 10px;
    background-color: #F5F5F5;
}

.list-music .list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.list-music .list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
            left bottom,
            left top,
            color-stop(0.44, rgb(122, 153, 217)),
            color-stop(0.72, rgb(73, 125, 189)),
            color-stop(0.86, rgb(28, 58, 148)));
}

.alert {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(54, 54, 54, 0.318);
    z-index: 100;
}

.alert .notice-alert {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background-color: rgba(255, 255, 255, 0.351);
    width: 400px;
    margin: 0px 5px;
    max-height: max-content;
    overflow: hidden;
}

.header-alert {
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    padding: 0.5em;
    border-bottom: 1px solid;
    background-color: #3071A9;
    text-shadow: 5px 0px 5px #000;
}

.content-alert {
    padding: 0.5em;
    border-bottom: 1px solid;
    background-color: aliceblue;
}

.button-alert {
    display: flex;
    justify-content: flex-end;
    padding: 0.3em;
    background-color: aliceblue;
}

.button-alert .select {
    border-radius: 10px;
    padding: 0.3em;
    cursor: pointer;
    background-color: var(--button-color);
}

.button-alert .select:hover {
    background-color: var(--button-active);
}

.box-background {
    width: 800px;
    height: 500px;
    border: 1px solid;
    background-color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1em;
    border-radius: 15px;
    background-color: #3071A9;
    position: relative;
}

.box-background::-webkit-scrollbar {
    display: none;
}

.box-background h1 {
    text-align: center;
}

.box-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.box h2 {
    margin: 1em;
}

.box-item {
    flex: 0 0 auto;
    width: 20%;
    position: relative;
    overflow: hidden;
}

.box-item:hover img {
    transform: scale(1.1);
}

.box-item img {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.5s linear;
    border-radius: 10px;
}

.box-item .absolute {
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translate(-50%);
    color: white;
    font-weight: bold;
    background-color: var(--bg-color);
    padding: 5px;
    border: 1px solid;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    transition: all 0.5s linear;
    cursor: pointer;
}

.box-item:hover .absolute {
    left: 50%;
}

.absolute:hover {
    background-color: var(--sub-bg-color);
    box-shadow: 0px 0px 20px white;
    color: var(--active-color);
}

.box-background .button-alert {
    position: fixed;
    width: 80%;
    z-index: 100000;
    margin-top: 1em;
    background-color: #3071A9;
}

.flex-close {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.flex-close .close {
    cursor: pointer;
    font-size: xx-large;
}

.box-background {
    margin: 10px;
    position: relative;
}

.AI{
    position: absolute;
    width: 3em;
    height: 3em;
    background-color: var(--bg-color);
    color: var(--active-color);
    text-shadow: 0px 0px 15px red;
    cursor: pointer;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: -10px 0px 25px #fff;
    z-index: 1000;
}
.AI:hover{
    background-color: var(--button-active);
}

/* Loading */
.loading{
    background-color: #000 !important;
    display: flex;
}
.eye {
    width: 20px;
    height: 8px;
    background-color: rgba(240, 220, 220, 1);
    border-radius: 0px 0px 20px 20px;
    position: relative;
    left: 10px;
    top: 40px;
    box-shadow: 40px 0px 0px 0px rgba(240, 220, 220, 1);
}

.head {
    -webkit-backface-visibility: hidden;
    position: relative;
    margin: -250px auto;
    width: 80px;
    height: 80px;
    background-color: #111;
    border-radius: 50px;
    box-shadow: inset -4px 2px 0px 0px rgba(240, 220, 220, 1);
    -webkit-animation: headAnim 1.5s infinite alternate;
    -webkit-animation-timing-function: ease-out;
}

.body {
    position: relative;
    margin: 90px auto;
    width: 140px;
    height: 120px;
    background-color: #111;
    border-radius: 50px/25px;
    box-shadow: inset -5px 2px 0px 0px rgba(240, 220, 220, 1);
    -webkit-animation: bodyAnim 1.5s infinite alternate;
    -webkit-animation-timing-function: ease-out;
}

@-webkit-keyframes headAnim {
    0% {
        top: 0px;
    }

    50% {
        top: 10px;
    }

    100% {
        top: 0px;
    }
}

@-webkit-keyframes bodyAnim {
    0% {
        top: -5px;
    }

    50% {
        top: 10px;
    }

    100% {
        top: -5px;
    }
}

.circ {
    -webkit-backface-visibility: hidden;
    margin: 60px auto;
    width: 180px;
    height: 180px;
    border-radius: 0px 0px 50px 50px;
    position: relative;
    z-index: -1;
    left: 0;
    top: 0;
    overflow: hidden;
}

.hands {
    -webkit-backface-visibility: hidden;
    margin-top: 140px;
    width: 120px;
    height: 120px;
    position: absolute;
    background-color: #111;
    border-radius: 20px;
    box-shadow: -1px -4px 0px 0px rgba(240, 220, 220, 1);
    -webkit-transform: rotate(45deg);
    top: 75%;
    left: 16%;
    z-index: 1;
    -webkit-animation: bodyAnim 1.5s infinite alternate;
    -webkit-animation-timing-function: ease-out;
}

.load {
    position: absolute;
    width: 7ch;
    height: 32px;
    text-align: left;
    line-height: 32px;
    margin: -10px auto;
    -webkit-font-smoothing: antialiased;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: rgba(240, 220, 220, 1);
    left: 2%;
    top: 5%;
    -webkit-animation: fontAnim 3.75s infinite;
    -webkit-animation-timing-function: ease-out;
    word-wrap: break-word;
    display: block;
    overflow: hidden;
}

@-webkit-keyframes fontAnim {
    0% {
        width: 7ch;
    }

    16% {
        width: 8ch;
    }

    32% {
        width: 9ch;
    }

    48% {
        width: 10ch;
    }

    64% {
        width: 11ch;
    }

    80% {
        width: 12ch;
    }

    100% {
        width: 13ch;
    }
}





/* Animation  */
@keyframes rotateImg {
    0% {
        transform: rotate(0deg);
        box-shadow: 0px 0px 20px peru;
    }

    20% {
        transform: rotate(72deg);
        box-shadow: 0px 0px 20px red;
    }

    40% {
        transform: rotate(144deg);
        box-shadow: 0px 0px 20px blue;
    }

    50% {
        transform: rotate(180deg);
        box-shadow: 0px 0px 20px yellow;
    }

    60% {
        transform: rotate(216deg);
        box-shadow: 0px 0px 20px green;
    }

    80% {
        transform: rotate(288deg);
        box-shadow: 0px 0px 20px orangered;
    }

    100% {
        transform: rotate(360deg);
        box-shadow: 0px 0px 20px purple;
    }
}